<!--
File: footer.ejs
Name: Nisha Dudheliya
StudentId: 301230457
Date: June 3, 2022
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' />   -->
 
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">

<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: #fff;
      justify-content: center;
    }
    .center {
        text-align: center;
    }
    p {
        margin-bottom: 0px;
    }
    </style>
    </head>
    <footer class="footer navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="navbar-nav center">
            <p class="nav-link">Nisha Dudheliya |  
                <i class="fa-solid fa-envelope"></i>  nishadudheliya@gmail.com |  
                <a href="https://www.linkedin.com/in/nisha-dudheliya-227a4513b">
                     <i class="fa-brands fa-linkedin-in"></i></p>    
                 </a>
        </div>
    </footer>
