<!--
File: header.ejs
Name: Nisha Dudheliya
StudentId: 301230457
Date: June 3, 2022
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' />   -->
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/images/logo1.png" alt="logo" style="width:40px; margin: 0px 10px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/"><i class="fas fa-home"></i> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-file-contract"></i> About </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/projects"><i class="fas fa-tasks"></i> Projects </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/services"><i class="fas fa-users"></i> Service </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="fas fa-phone"></i> Contact </a>
      </li>
    </ul>
  </nav>
  </body>