<!--
File: services.ejs
Name: Nisha Dudheliya
StudentId: 301230457
Date: June 3, 2022
-->
<%- include ("partials/header") -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />  
</head>
<body>
    <h1 class="center">Services</h1>
<h4 class="margin"> "Seamlessly 
    manages workloads and meets challenging 
    deadlines and quality benchmarks. Strong 
    understanding of common web technologies, 
    languages, and frameworks"</h4>
    <hr>
    <div class="center">
        <ui>
            <li>JS Frameworks: Angular, Nodejs – Express.</li>
            <li>Source and Version Control: Git, Github</li>
            <li>Web Programming</li>
            <li>Analytical Thinking and Problem Solving</li>
            <li>Programming Languages: Java, C#, .Net.</li>
            <li>Databases: Oracle, MongoDB</li>
            <li>Project Management</li>
            <li>Task management tools like Jira, Trello</li>
            <li>Agile/Scrum Methodology</li>
            <li>Teamwork and Collaboration</li>
            <li>Skilled in HTML, CSS, SCSS, JQuery, Bootstrap, Material and Primeng</li>
            <li>Requirements Gathering and Analysis</li>
            <li>Debugging and Troubleshooting</li>
            <li>Scripting Languages: Typescript, Javascript</li>
        </ui>
    </div>
</body>

</html>
<%- include ("partials/footer") -%>
